/*Color palette*/

:root {
    --primary-color: #000000;
    --accent-color: #ff5179;
    --gradient-color-1: #9795ef;
    --gradient-color-2: #f9c5d1;
}

/*Typography*/

html {
    /*62.5% of 16px = 10px*/
    font-size: 62.5%;
}

body {
    color: var(--primary-color);
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 2rem;
    line-height: 1.5;
}

h1 {
    color: var(--heading-color);
    font-size: 4rem;
    line-height: 1.1;
    margin: 0;
}

h2 {
    color: var(--heading-color);
    font-size: 2.4rem;
    line-height: 1.1;
    margin: 0;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.container--small {
    max-width: 81%;
    margin: 0 auto;
}

.layout {
    height: 100vh;
    display: grid;
    grid-template-rows: 0.05fr 1fr;
}

/*Navigation Bar*/

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
    width: 100%;
}

.nav__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
}

.nav__item:first-child {
    padding-left: 0;
}

.nav__item:last-child {
    padding-right: 0;
}

.nav__item > a {
    color: var(--primary-color);
    font-weight: 600;
    text-decoration: none;
}

a:hover {
    color: var(--accent-color);
}

.nav__item {
    padding: 0.5rem 2rem;
}

/*Content*/

.content-box {
    background: transparent linear-gradient(90deg, #9795ef 0%, #f9c5d1 100%);
    border-radius: 60px 60px 0px 0px;
    opacity: 0.85;
}

.grid {
    align-items: top;
    display: grid;
    gap: 0;
    grid-template-columns: repeat(2, minmax(10rem, 2fr));
    grid-template-rows: repeat(auto-fit, minmax(auto-fit, 100rem));
    height: 100%;
    margin: auto;
    width: 90%;
}

.content {
    height: auto;
    margin-top: 6rem;
    margin-bottom: 0;
}

.content-header {
    font-weight: 400;
}

.content-header--bold {
    font-weight: 600;
}

.content-image {
    align-self: flex-start;
    justify-self: end;
    margin-bottom: 0;
    margin-top: 6rem;
    overflow: hidden;
    width: 70%;
}

.content-image > img {
    height: auto;
    width: 100%;
}

/*Course Grid*/

.course {
    grid-column-end: span 2;
}

.course-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 6rem;
    width: 100%;
    height: auto;
}

.course-block {
    text-align: center;
    border-radius: 2rem;
    width: 26%;
    margin: 0 auto;
    height: auto;
    background: white;
    margin-bottom: 2%;
}

.course-block h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.course-block p {
    width: 90%;
    margin: 2rem auto;
}

.course-block > img {
    border-radius: 2rem 2rem 0 0;
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.course-text {
    margin-top: 3rem;
    margin-bottom: -2rem;
}

/*Button*/

.btn {
    background: var(--accent-color);
    border-radius: 40px;
    border: 0;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    display: inline-block;
    margin: 2rem auto;
    outline: 0;
    padding: 2rem 4rem;
    text-decoration: none;
    text-transform: uppercase;
    width: 50%;
}

.btn:hover {
    background: white;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

/*Icons

.icon {
    width: 1.6rem;
    height: 1.6rem;
}

.icon--primary {
    fill: var(--primary-color);
}*/
