/*Color palette*/

:root {
    --primary-color: #000000;
    --accent-color: #ff5179;
    --gradient-color-1: #9795ef;
    --gradient-color-2: #f9c5d1;
}

/*Typography*/

html {
    /*62.5% of 16px = 10px*/
    font-size: 62.5%;
}

body {
    color: var(--primary-color);
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 2rem;
    line-height: 1.5;
}

h1 {
    color: var(--heading-color);
    font-size: 4rem;
    line-height: 1.1;
    margin: 0;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.container--small {
    max-width: 81%;
    margin: 0 auto;
}

.layout {
    height: 100vh;
    display: grid;
    grid-template-rows: 0.05fr 1fr;
}

/*Navigation Bar*/

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
    width: 100%;
}

.nav__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
}

.nav__item:first-child {
    padding-left: 0;
}

.nav__item:last-child {
    padding-right: 0;
}

.nav__item > a {
    color: var(--primary-color);
    font-weight: 600;
    text-decoration: none;
}

a:hover {
    color: var(--accent-color);
}

.nav__item {
    padding: 0.5rem 2rem;
}

/*Content*/

.content-box {
    background: transparent linear-gradient(90deg, #9795ef 0%, #f9c5d1 100%);
    border-radius: 60px 60px 0px 0px;
    opacity: 0.85;
}

.grid {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 2fr));
    height: 100%;
    margin: auto;
    width: 90%;
}

.content-header {
    font-weight: 400;
}

.content-header--bold {
    font-weight: 600;
}

.content-image {
    width: 80%;
    justify-self: end;
    overflow: hidden;
}

.content-image > img {
    width: 100%;
    height: auto;
}

/*Icons

.icon {
    width: 1.6rem;
    height: 1.6rem;
}

.icon--primary {
    fill: var(--primary-color);
}*/
